{:paths   ["src" "resources"]
 :deps    {lilactown/helix {:git/url "https://github.com/lilactown/helix"
                            :git/sha "32178efcdc38b1e94a01212220018d74f90859d6"}
           town.lilac/flex {:git/url "https://github.com/lilactown/flex"
                            :git/sha "ac4ecfc161448f42944cdfe0c334cf209a457dd9"}
           metosin/reitit-malli {:mvn/version "0.8.0"}
           metosin/reitit-frontend {:mvn/version "0.8.0"}
           funcool/promesa {:mvn/version "11.0.678"}
           lambdaisland/fetch {:mvn/version "1.5.83"}
           applied-science/js-interop {:mvn/version "0.4.2"}}
 :aliases {:dev {:extra-paths ["dev" "test"]
                 :extra-deps  {nubank/matcher-combinators {:mvn/version "3.9.1"}
                               thheller/shadow-cljs {:mvn/version "3.0.2"}
                               cider/cider-nrepl    {:mvn/version "0.55.3"}}}}}
