{:deps   {:aliases [:dev]}

 :dev-http {5000 ["resources/public"]
            5002 ["resources/tests"]}

 :jvm-opts ["-Xss16m"]
 
 :builds {:app {:target           :browser
                :devtools         {:preloads [codes.clj.docs.frontend.dev.refresh]
                                   :reload-strategy :full}
                :output-dir       "resources/public/js"
                :asset-path       "/js"
                :dev              {:modules {:core {:init-fn codes.clj.docs.frontend.dev.core/init}}}
                :release          {:modules {:core {:init-fn codes.clj.docs.frontend.core/init}}
                                   :module-hash-names true}
                :compiler-options {:warnings {:extending-base-js-type false}
                                   :install-deps true}
                :build-hooks      [(shadow.html/copy-file
                                    "resources/index.src.html"
                                    "resources/public/index.html")]}

          :tests {:target    :browser-test
                  :test-dir  "resources/tests"
                  :ns-regexp "-test$"}

          :ci-tests {:target           :karma
                     :output-to        "resources/tests/ci.js"
                     :ns-regexp        "-test$"
                     :compiler-options {:static-fns false}}

          :node-tests {:target    :node-test
                       :compiler-options {:reader-features #{:node}}
                       :main      codes.clj.docs.frontend.test.node/main
                       :output-to "resources/tests/node.js"}}}
