/* core styles are required for all packages */
@import "@mantine/core/styles.css";

/* other css files are required only if */
/* you are using components from the corresponding package */
/* import '@mantine/dates/styles.css'; */
/* import '@mantine/dropzone/styles.css'; */
/* import '@mantine/code-highlight/styles.css'; */
/* ... */

.definition-line-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-top: rem(4px);
  padding-bottom: rem(4px);
}

.definition-line-row:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.definition-line-name-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.definition-line-doc-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding-bottom: rem(10px);
}

@media screen and (min-width: 800px) {
  .definition-line-name-column {
    flex: 1;
  }

  .definition-line-doc-column {
    flex: 3;
    padding-bottom: 0px;
  }
}

.components-documents-cards {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: rem(6px);
    background-image: linear-gradient(0,
        var(--mantine-color-green-6),
        var(--mantine-color-cyan-6));
  }
}

.shell-header {
  height: rem(56px);
  margin-bottom: rem(120px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.shell-inner-header {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shell-footer {
  position: sticky;
  margin-top: rem(10px);
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.shell-after-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.shell-link-footer {
  display: block;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  font-size: var(--mantine-font-size-sm);
  padding-top: rem(3px);
  padding-bottom: rem(3px);

  &:hover {
    text-decoration: underline;
  }
}

.shell-social-footer {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xs);
  }
}

.error-root {
  padding-top: rem(80px);
  padding-bottom: rem(80px);
}

.error-inner {
  position: relative;
}

.error-image {
  position: absolute;
  inset: 0;
  opacity: 0.75;
  color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6));
}

.error-content {
  padding-top: rem(220px);
  position: relative;
  z-index: 1;

  @media (max-width: $mantine-breakpoint-sm) {
    padding-top: rem(120px);
  }
}

.error-title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  text-align: center;
  font-weight: 900;
  font-size: rem(38px);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(32px);
  }
}

.error-description {
  max-width: rem(540px);
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
}
